﻿appdirs
blinker
pip
certifi
charset-normalizer
click
colorama
contourpy
cssselect
cycler
dateparser
demjson3
facebook-scraper
fake-useragent
Flask
fonttools
idna
importlib-metadata
instaloader
itsdangerous
Jinja2
kiwisolver
lxml
MarkupSafe
matplotlib
numpy
packaging
parse
Pillow
pyee
pyparsing
pyppeteer
pyquery
python-dateutil
pytube
pytz
regex
requests
requests-html
six
soupsieve
tqdm
tzdata
tzlocal
urllib3
w3lib
websockets
Werkzeug
youtube-dl
