<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head><script src="/docs/5.3/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="WmjA5cQaBrnqIljLfyuFg4ED8dAPpqGo9kUQFgzHoVk" />
    <meta name="description" content="Media downloader lets you save video content just by grabbing the URL or link from Youtube, Instagram, and Facebook. You can download videos without watermark..">
    <meta name="keywords" content="media downloader, MDHQ, Instagram video downloader, video downloader, download videos, YouTube downloader, Facebook downloader">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Digitalasap">
    <title>Instagram Video Downloader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- JavaScript (including necessary Bootstrap plugins) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app.js"></script>
    <link rel="icon" type="image/png" href="../static/Images/Media-Downloader-logo.png"> 
      </head>
    
      <body>
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container">
            <a class="navbar-brand" href="/">
              <!-- <h3>Video Downloader</h3> -->
              <img src="../static/Images/Media-Downloader.png" alt="Media Downloader logo" class="logos">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/terms_and_conditions">Terms & Condition</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
              <!-- <div class="nav-buttons">
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/signup" class="btn btn-outline-primary">Sign Up</a>
              </div> -->
            </div>
          </div>
        </nav>

  <div class="px-3">
    <h1>Instagram Video Downloader</h1>
    <p class="lead">Download Videos From Instagram</p>
    <p class="lead">
        <form action="/downloadinsta" method="post">
            <input type="text" class="form-control"  placeholder="Enter your URl here !" name="insta_url">
            <button type="submit" class="btn btn-success mt-3" >Download</button>
        </form>
       
    </p>
  </div>

  <footer class="px-3 pt-3 footer">
    <div class="container d-flex flex-lg-row flex-xl-row flex-sm-column flex-md-column py-3 text-secondary">
     <div class="col-lg-3 col-md-12">
       <img src="../static/Images/Media-Downloader.png" alt="Media Downloader logo" width="200">
     </div>
     <div class="col-lg-3 col-md-6">
       <p><a href="/yt">Youtube</a> </p>
       <p><a href="/fb">Facebook</a> </p>
       <p><a href="/">Instagram</a> </p>
 
     </div>
     <div class="col-lg-3 col-md-12">
       <p><a href="/contact">Contact</a> </p>
       <p><a href="/">FAQ</a> </p>
     </div>
     <div class="col-lg-3 col-md-12">
       <p><a href="/">Privacy Policy</a></p>
       <p><a href="/terms_and_conditions">Terms and Conditions</a> </p>
     </div>
    </div>
    <div class="text-center py-3 text-white ">
    <p>Youtube Video downloder by
     <a href="https://digitalasap.in/" class="text-primary">Digitalasap</a>.</p>
     </div>
   </footer>



    
  </body>
</html>
