<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head><script src="/docs/5.3/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="WmjA5cQaBrnqIljLfyuFg4ED8dAPpqGo9kUQFgzHoVk" />
    <meta name="description" content="This Fair Use Policy governs the use of Media Video Downloader Tool and downloading of videos from other platforms (Youtube, Instagram, Facebook and Twitter.tv) using the Tool. By using the Tool, you agree to the following terms and conditions..">
    <meta name="keywords" content="media downloader, MDHQ, Instagram video downloader, video downloader, download videos, YouTube downloader, Facebook downloader">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Digitalasap">
    <title>About us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- JavaScript (including necessary Bootstrap plugins) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app.js"></script>
    <link rel="icon" type="image/png" href="../static/Images/Media-Downloader-logo.png"> 
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EKT43KP3Z8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EKT43KP3Z8');
</script>
      </head>
    
      <body>
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container">
            <a class="navbar-brand" href="/">
              <!-- <h3>Video Downloader</h3> -->
              <img src="../static/Images/Media-Downloader.png" alt="Media Downloader logo" class="logos">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/terms_and_conditions">Terms & Condition</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
              <!-- <div class="nav-buttons">
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/signup" class="btn btn-outline-primary">Sign Up</a>
              </div> -->
            </div>
          </div>
        </nav>
<section class="terms-and-conditions">
  <div class="container">
    <h2 class="text-center py-3">Terms and Conditions</h2>
    <div class="container">
      <div class="separator">
      </div>
    </div> 
    <h5 class="pt-3">Fair Use on Media Downloader</h5>
    <p>This Fair Use Policy governs the use of Media Downloader Video Downloader Tool (the "Tool") and downloading of videos from other platforms (Youtube, Instagram, Facebook and Twitter.tv) using the Tool. By using the Tool, you agree to the following terms and conditions:
    </p>
    <p>1. You are solely responsible for obtaining the necessary rights and permissions from the owners of the videos you download using the Tool. The Tool does not provide any warranties or assurances that the videos you download are available for use or that they do not infringe on any intellectual property rights.
    </p>
    <p>2. Any copyright or other intellectual property rights violations resulting from your use of the Tool are your responsibility. Media Downloader and the Tool will not be held liable for any damages or losses arising from the unauthorized use of downloaded videos.</p>
    <p>3. Media Downloader makes no representations or warranties of any kind, express or implied, as to how you operate the Tool—or the information, content, materials, or products included in the downloaded videos.</p>
<p>4. Media Downloader reserves the right to update or change this Fair Use Policy at any time, and your continued use of the Tool following any changes signifies your acceptance of those changes.</p>
<p>5. If you do not agree to these terms and conditions, you must not use the Tool.</p>    
<p>By using the Tool, you confirm that you have read and understood this Fair Use Policy and that you agree to be bound by it.</p>

<h5>Acceptance of Terms of Service</h5>
    <p>These Terms of Service (the “Terms of Service”) is a legally-binding agreement between you, either an individual or an entity (“you” or “user”), and (“Media Downloader”) regarding use and other related websites owned and/or operated by Media Downloader (together, the “Website”), Products (for example, Media Downloader. Net Helper), and Services, as defined below. The Terms of Service include the Privacy Policy located at https://Mediadownloaderhq.com which is incorporated and made a part of the Terms of Service.</p>
<p>Media Downloader makes Website and Services, including all content, information, graphics, documents, text, products, and all other elements and products offered through the Website and Services (collectively, the “Software”) available for your use subject to the terms and conditions set forth in this document. By accessing and using the Website and Services you agree to be bound by and to accept these Terms of Service and all terms and conditions contained and/or referenced herein as well as any additional terms and conditions set forth on the Website.</p>
<p>If you do NOT agree to all the terms and conditions in these Terms of Service, you should NOT use the Website or Services. These Terms of Service may be amended by Media Downloader at any time upon notice provided by any of the following means: through a posting on the main page of the Website, at or after you login into your User Account (as defined below), or by e-mail to the address you provided when you set up your User Account. Your failure to provide or maintain accurate or current contact information in your User Account will not obviate your responsibility to comply with these Terms of Service as amended from time to time.</p> 
<p>Please check these Terms of Service regularly to ensure that you are aware of all terms governing your use of the Website and Services. Media Downloader reserves the right to make changes or updates with respect the Software or the format thereof at any time without notice. Media Downloader also reserves the right to terminate or restrict your access to the Website and Services or any portion thereof for any reason whatsoever at its sole discretion.</p>

<h5>Your Use of the Website and Services</h5>
<p>You can use our service to download videos and other files from many popular sites. You agree not to access (or attempt to access) the Services by any means other than through the means provided by Media Downloader or its authorized partners. You agree not to access (or attempt to access) the Services by way of automated means and that you will not engage in any activity that interferes with or disrupts the Services (or the servers and networks which are connected to the Services).</p>
<p>Further, you agree:</p>
<p>not to disrupt or interfere with any other user's enjoyment of the Website and Services or affiliated or linked sites;
  not to upload, post, or otherwise transmit through the Website and Services any viruses or other harmful, disruptive, or destructive files;
  not to use or attempt to use another user's User Account, password, or system;
  not to access or attempt to access any Software or UMedia Downloaderser Content (as defined below), which you are not authorized to access under the terms herein;
  not to disrupt or interfere with the security of, or otherwise cause harm to the Website, Services, Software, User Content, system resources, accounts, passwords, servers, or networks connected to or accessible through the Website and Services or any affiliated or linked sites.
  </p>
  <p>You may not use the Website or Services for any purpose that is unlawful, prohibited by these Terms of Service, or in any way interferes or attempts to interfere with the proper working of the Website or Services. You may not use the Website or Services in any manner that could damage, disable, overburden, or impair the Website or Services, or that interferes with any third party's use and enjoyment of the Website or Services.</p>
  <p>You agree that you will not use any third-party software that intercepts, "mines," or otherwise collects information from or through the Website or Services. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available by Media Downloader to all users of the Website or Services. You shall not institute, assist, or become involved in an attack upon any Media Downloader server or otherwise attempt to disrupt the Media Downloader servers. Any such unauthorized use shall result in immediate and automatic termination of this Terms of Service and the License granted hereunder.</p>

  <p>These Terms of Service will be enforced to the fullest extent permitted by applicable law. If for any reason any provision of these Terms of Service are held to be invalid or unenforceable under applicable law to any extent, then (a) such provision will be interpreted, construed or reformed to the extent reasonably required to render the same valid, enforceable and consistent with the original intent underlying such provision and (b) such invalidity or unenforceability will not affect any other provision of this Terms of Service. Questions may be submitted at <a href="mailto:onlinedigitalasap@gmail.com">onlinedigitalasap@gmail.com</a></p>
</div>
</section>
  <footer class="px-3 pt-3 footer">
    <div class="container d-flex flex-lg-row flex-xl-row flex-sm-column flex-md-column py-3 text-secondary">
     <div class="col-lg-3 col-md-12">
       <img src="../static/Images/Media-Downloader.png" alt="Media Downloader logo" width="200">
     </div>
     <div class="col-lg-3 col-md-6">
       <p><a href="/yt">Youtube</a> </p>
       <p><a href="/fb">Facebook</a> </p>
       <p><a href="/">Instagram</a> </p>
 
     </div>
     <div class="col-lg-3 col-md-12">
       <p><a href="/contact">Contact</a> </p>
       <p><a href="/">FAQ</a> </p>
     </div>
     <div class="col-lg-3 col-md-12">
       <p><a href="/">Privacy Policy</a></p>
       <p><a href="/terms_and_conditions">Terms and Conditions</a> </p>
     </div>
    </div>
    <div class="text-center py-3 text-white ">
    <p>Youtube Video downloder by
     <a href="https://digitalasap.in/" class="text-primary">Digitalasap</a>.</p>
     </div>
   </footer>
  </body>
</html>
